@font-face {
    font-family: 'thomas';
    src: url("fonts/thomas.eot?hpsq8u");
    src: url("fonts/thomas.eot?#iefixhpsq8u") format('embedded-opentype'),url("fonts/thomas.woff?hpsq8u") format('woff'),url("fonts/thomas.ttf?hpsq8u") format('truetype'),url("fonts/thomas.svg?hpsq8u#thomas") format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    font-family: 'thomas';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
    content: "\ea8a";
}

.icon-facebook:before {
    content: "\ea8e";
}

.icon-twitter:before {
    content: "\ea93";
}

.icon-vimeo:before {
    content: "\ea9e";
}

.icon-github:before {
    content: "\eab1";
}

.icon-delete:before {
    content: "\e604";
}

.icon-done:before {
    content: "\e619";
}

.icon-exit-to-app:before {
    content: "\e601";
}

.icon-home:before {
    content: "\e615";
}

.icon-info:before {
    content: "\e61a";
}

.icon-list:before {
    content: "\e61b";
}

.icon-note-add:before {
    content: "\e61c";
}

.icon-reorder:before {
    content: "\e61d";
}

.icon-report-problem:before {
    content: "\e61e";
}

.icon-search:before {
    content: "\e616";
}

.icon-settings:before {
    content: "\e602";
}

.icon-toc:before {
    content: "\e61f";
}

.icon-storage:before {
    content: "\e617";
}

.icon-insert-drive-file:before {
    content: "\e620";
}

.icon-mode-edit:before {
    content: "\e605";
}

.icon-tune:before {
    content: "\e606";
}

.icon-arrow-back:before {
    content: "\e607";
}

.icon-arrow-drop-down:before {
    content: "\e608";
}

.icon-arrow-drop-down-circle:before {
    content: "\e621";
}

.icon-arrow-drop-up:before {
    content: "\e609";
}

.icon-arrow-forward:before {
    content: "\e60a";
}

.icon-cancel:before {
    content: "\e622";
}

.icon-check:before {
    content: "\e60b";
}

.icon-chevron-left:before {
    content: "\e60c";
}

.icon-chevron-right:before {
    content: "\e60d";
}

.icon-close:before {
    content: "\e60e";
}

.icon-expand-less:before {
    content: "\e60f";
}

.icon-expand-more:before {
    content: "\e610";
}

.icon-menu:before {
    content: "\e600";
}

.icon-more-horiz:before {
    content: "\e611";
}

.icon-more-vert:before {
    content: "\e603";
}

.icon-refresh:before {
    content: "\e618";
}

.icon-unfold-less:before {
    content: "\e623";
}

.icon-unfold-more:before {
    content: "\e624";
}

.icon-group-add:before {
    content: "\e625";
}

.icon-people:before {
    content: "\e612";
}

.icon-person:before {
    content: "\e613";
}

.icon-person-add:before {
    content: "\e614";
}

.icon-check-box:before {
    content: "\e626";
}

.icon-check-box-outline-blank:before {
    content: "\e627";
}

.icon-radio-button-off:before {
    content: "\e628";
}

.icon-radio-button-on:before {
    content: "\e629";
}

html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}

*,*:before,*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
}

a {
    cursor: pointer;
    outline: 0;
    text-decoration: none;
}

ol,ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


i[class^='icon-'] {
    font-size: 2.4rem;
}

body {
    font-size: 1.4em;
}

.tooltip {
    display: none;
}

.nav nav > ol > li > a,.menu-list nav > ol > li > a,#z-pane-header > header nav > ol > li > a,#z-pane-menu #menu nav > ol > li > a,#z-pane-list nav > ol > li > a {
    display: inline-block;
    color: #555;
    padding: 1rem 1.5rem;
    position: relative;
    text-align: center;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.nav nav > ol > li > a:hover,.menu-list nav > ol > li > a:hover,#z-pane-header > header nav > ol > li > a:hover,#z-pane-menu #menu nav > ol > li > a:hover,#z-pane-list nav > ol > li > a:hover {
    color: #111;
    text-shadow: 0 0 .5rem #fff;
}

#z-layer-content {
    -webkit-box-shadow: 0 0 .25rem rgba(0,0,0,0.25);
    box-shadow: 0 0 .25rem rgba(0,0,0,0.25);
}

#z-pane-menu {
    background: -webkit-linear-gradient(left, #fff, #fafafa);
    background: -moz-linear-gradient(left, #fff, #fafafa);
    background: -o-linear-gradient(left, #fff, #fafafa);
    background: -ms-linear-gradient(left, #fff, #fafafa);
    background: linear-gradient(to right, #fff, #fafafa);
}

#z-pane-footer > footer {
    padding: 1rem 1.5rem;
}

#z-pane-list {
    background: -webkit-linear-gradient(left, #fafafa, #f5f5f5);
    background: -moz-linear-gradient(left, #fafafa, #f5f5f5);
    background: -o-linear-gradient(left, #fafafa, #f5f5f5);
    background: -ms-linear-gradient(left, #fafafa, #f5f5f5);
    background: linear-gradient(to right, #fafafa, #f5f5f5);
    border-left: 1px solid #eee;
}

#z-pane-list > div {
    border-left: 1px solid #fff;
    height: 100%;
}